.login {
  position: relative;
  height: 100%;
  background: url("https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media//banner.jpg"),
    center, no-repeat;
  background-size: cover;
}

.login__background {
}

.login__body {
  width: 100%;
  position: absolute;
  top: 30%;
  z-index: 1;
  color: #fff;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.login__body > h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 30px;
}

.login__body > h3 {
  font-size: 1rem;
  font-weight: 400;
}

.login__input {
  margin: 20px;
}

.login__email {
  padding: 17px;
  outline-width: 0;
  /* height: 30px; */
  width: 30%;
  border: none;
  max-width: 600px;
}

.login__getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.login__gradient {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgb(0, 0, 0, 0.6);
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.8) 0,
    rgb(0, 0, 0, 0) 60%,
    rgb(0, 0, 0, 0.8) 100%
  );
}

.login__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}

.login__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 6px 12px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
